<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Handlee|Kaushan+Script|Sacramento|Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Delius|Gochi+Hand|Handlee|Kaushan+Script|Sacramento|Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Gochi+Hand|Handlee|Kaushan+Script|Sacramento|Satisfy&display=swap" rel="stylesheet">
</head>
<title>
  My Page
</title>
<body>
 
  <div class="container">
<div class="row">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h2 class="toptex"><span id="hi">Hi</span> <span id="fd1">Future </span><span id="fd2">Doctor</span>,<br> take <span id="help">our</span><span id="helpp"> help...</span></h2>
    <form class="form1" method="POST" action="/search">
      <div class="form-group ">
        <input type="text" class="form-control" name="query"  placeholder="Enter a word" aria-describedby="emailHelp">
        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
    
      <button type="submit" class="btn-lg btn-primary">Search 🚀🔬</button>
    </form>
    <div class="allimages">
      <img src="images/dna.png" alt="">
      <img src="images/kidneys.png" alt="">
      <img src="images/stethoscope.png" alt="">
      <img src="images/thermometer.png" alt="">
    </div>
    <!-- <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex libero id delectus sint in deleniti odio nihil, quo illo? Optio odio maiores molestias similique perferendis maxime veniam natus ab mollitia.</h2> -->
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <img src="images/doc1.png" alt="" class="doc1 d-none d-md-block d-lg-block d-xl-block">
    <img src="https://webstockreview.net/images/clipart-doctor-person-1.png" class="doc2 d-md-none d-lg-none d-xl-none">
  </div>
</div>
</div>








<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>
</body>
</html>